:root {
  --main-color: #f6b83d;
  --black: #262626;
  --white: #ffffff;
  --second-color: #fff4df;
  --active-color: #f9b020;
  --second-active: #fbe7c1;
  --error-color: #ef2447;
  --background-color: #f9f9f9;
  --font-family: "Manrope", sans-serif;
  --medium: 500;
  --bold: 700;
  --extra-bold: 800;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--black);
  letter-spacing: -0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
