.main-body {
  background-color: var(--white);
}

.header-main {
  padding-top: 15px;
}

.container.main {
  padding: 0 32px;
}

.wraper-nav-main {
  padding: 16px 64px 0px 64px;
  background-color: var(--main-color);
  border-radius: 60px 60px 0 0;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.logo.main-logo {
  width: 106px;
  color: var(--white);
}

.main-svg-logo {
  fill: currentColor;
}

.nav-menu {
  display: flex;
  gap: 10px;
}

.nav-item.main {
  border: 1px solid color-mix(in srgb, var(--white) 40%, transparent);
  color: var(--white);
}

.nav-item.main:hover,
.nav-item.main:focus,
.nav-item.main:active,
.auth-item.main-log:hover,
.auth-item.main-log:focus,
.auth-item.main-log:active {
  background: var(--second-color);
  color: var(--main-color);
}

.auth-nav {
  display: flex;
  gap: 8px;
}

.main-color {
  color: var(--white);
}

.auth-item.main-log {
  border: 1px solid color-mix(in srgb, var(--white) 40%, transparent);
}

.hero {
  margin-bottom: 16px;
}

.container-hero {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.wraper-hero {
  background-color: var(--main-color);
  padding: 112px 64px 32px 64px;
  border-radius: 0 0 60px 60px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-title {
  font-size: 90px;
  line-height: 0.97;
  letter-spacing: -0.03em;
  width: 100%;
  max-width: 760px;
}

.part-title {
  opacity: 0.4;
}

.hero-descr {
  width: 100%;
  max-width: 255px;
  font-weight: var(--medium);
  font-size: 18px;
  line-height: 1.22;
}

.background-hero {
  border-radius: 60px;
  width: 100%;
  max-width: 1216px;
  height: 384px;
  background-image: url(../images/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
